Cfb/CandidatePortal/ServiceModel/CPDataClient/Service References/DataService/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://caccess.nyccfb.info/schema/data" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal.TrainingTracking" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal.SubmissionDocuments" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal.PostElection" />
  <xs:complexType name="ArrayOfKeyValueOfstringActiveCandidateDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringActiveCandidateDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q1:ActiveCandidate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringActiveCandidateDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfstringActiveCandidateDL14f_S4_S" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfcharAuthorizedCommitteeRAPEuBXm">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfcharAuthorizedCommitteeRAPEuBXm">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:char" />
            <xs:element xmlns:q2="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q2:AuthorizedCommittee" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfcharAuthorizedCommitteeRAPEuBXm" nillable="true" type="tns:ArrayOfKeyValueOfcharAuthorizedCommitteeRAPEuBXm" />
  <xs:complexType name="ArrayOfKeyValueOfunsignedByteBankAccountDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfunsignedByteBankAccountDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:unsignedByte" />
            <xs:element xmlns:q3="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q3:BankAccount" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfunsignedByteBankAccountDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfunsignedByteBankAccountDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfunsignedByteLiaisonDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfunsignedByteLiaisonDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:unsignedByte" />
            <xs:element xmlns:q4="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q4:Liaison" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfunsignedByteLiaisonDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfunsignedByteLiaisonDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfstringCandidateDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringCandidateDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q5="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q5:Candidate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringCandidateDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfstringCandidateDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfunsignedByteCsuLiaisonDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfunsignedByteCsuLiaisonDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:unsignedByte" />
            <xs:element xmlns:q6="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q6:CsuLiaison" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfunsignedByteCsuLiaisonDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfunsignedByteCsuLiaisonDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfintTrainingSessionDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintTrainingSessionDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q7="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q7:TrainingSession" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintTrainingSessionDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfintTrainingSessionDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfTrainerRoleArrayOfCsuLiaisonSKjdte5T">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfTrainerRoleArrayOfCsuLiaisonSKjdte5T">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal.TrainingTracking" name="Key" type="q8:TrainerRole" />
            <xs:element xmlns:q9="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q9:ArrayOfCsuLiaison" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfTrainerRoleArrayOfCsuLiaisonSKjdte5T" nillable="true" type="tns:ArrayOfKeyValueOfTrainerRoleArrayOfCsuLiaisonSKjdte5T" />
  <xs:complexType name="ArrayOfKeyValueOfshortTraineeDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfshortTraineeDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:short" />
            <xs:element xmlns:q10="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q10:Trainee" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfshortTraineeDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfshortTraineeDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfcharstring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfcharstring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:char" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfcharstring" nillable="true" type="tns:ArrayOfKeyValueOfcharstring" />
  <xs:complexType name="ArrayOfKeyValueOfcharArrayOfKeyValueOfunsignedByteStatementDL14f_S4_Sox8ieOcg">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfcharArrayOfKeyValueOfunsignedByteStatementDL14f_S4_Sox8ieOcg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:char" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfunsignedByteStatementDL14f_S4_S" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfcharArrayOfKeyValueOfunsignedByteStatementDL14f_S4_Sox8ieOcg" nillable="true" type="tns:ArrayOfKeyValueOfcharArrayOfKeyValueOfunsignedByteStatementDL14f_S4_Sox8ieOcg" />
  <xs:complexType name="ArrayOfKeyValueOfunsignedByteStatementDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfunsignedByteStatementDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:unsignedByte" />
            <xs:element xmlns:q11="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q11:Statement" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfunsignedByteStatementDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfunsignedByteStatementDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfstringDisclosureStatementHistoryZnWN_PZKY">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringDisclosureStatementHistoryZnWN_PZKY">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal.SubmissionDocuments" name="Value" nillable="true" type="q12:DisclosureStatementHistory" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringDisclosureStatementHistoryZnWN_PZKY" nillable="true" type="tns:ArrayOfKeyValueOfstringDisclosureStatementHistoryZnWN_PZKY" />
  <xs:complexType name="ArrayOfKeyValueOfstringElectionDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringElectionDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q13="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q13:Election" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringElectionDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfstringElectionDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfdateTimePlanPaymentKwAVntQD">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfdateTimePlanPaymentKwAVntQD">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:dateTime" />
            <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal" name="Value" nillable="true" type="q14:PlanPayment" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfdateTimePlanPaymentKwAVntQD" nillable="true" type="tns:ArrayOfKeyValueOfdateTimePlanPaymentKwAVntQD" />
  <xs:complexType name="ArrayOfKeyValueOfintPaymentInstallmentKwAVntQD">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintPaymentInstallmentKwAVntQD">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal" name="Value" nillable="true" type="q15:PaymentInstallment" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintPaymentInstallmentKwAVntQD" nillable="true" type="tns:ArrayOfKeyValueOfintPaymentInstallmentKwAVntQD" />
  <xs:complexType name="ArrayOfKeyValueOfunsignedByteThresholdStatusDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfunsignedByteThresholdStatusDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:unsignedByte" />
            <xs:element xmlns:q16="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q16:ThresholdStatus" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfunsignedByteThresholdStatusDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfunsignedByteThresholdStatusDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfunsignedByteCmoCategoryDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfunsignedByteCmoCategoryDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:unsignedByte" />
            <xs:element xmlns:q17="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q17:CmoCategory" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfunsignedByteCmoCategoryDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfunsignedByteCmoCategoryDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfunsignedByteCmoAttachmentDL14f_S4_S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfunsignedByteCmoAttachmentDL14f_S4_S">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:unsignedByte" />
            <xs:element xmlns:q18="http://caccess.nyccfb.info/schema/data" name="Value" nillable="true" type="q18:CmoAttachment" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfunsignedByteCmoAttachmentDL14f_S4_S" nillable="true" type="tns:ArrayOfKeyValueOfunsignedByteCmoAttachmentDL14f_S4_S" />
  <xs:complexType name="ArrayOfKeyValueOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringstring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring" />
  <xs:complexType name="ArrayOfKeyValueOfunsignedBytestring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfunsignedBytestring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:unsignedByte" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfunsignedBytestring" nillable="true" type="tns:ArrayOfKeyValueOfunsignedBytestring" />
  <xs:complexType name="ArrayOfKeyValueOfAuditReportTypestringL8IRX61O">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfAuditReportTypestringL8IRX61O">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal.PostElection" name="Key" type="q19:AuditReportType" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfAuditReportTypestringL8IRX61O" nillable="true" type="tns:ArrayOfKeyValueOfAuditReportTypestringL8IRX61O" />
  <xs:complexType name="ArrayOfKeyValueOfintstring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintstring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintstring" nillable="true" type="tns:ArrayOfKeyValueOfintstring" />
</xs:schema>