Cfb/CandidatePortal/ServiceModel/CPDataClient/Service References/DataService/System.Data.SqlClient.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSqlError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SqlError" nillable="true" type="tns:SqlError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSqlError" nillable="true" type="tns:ArrayOfSqlError" />
  <xs:complexType name="SqlError">
    <xs:sequence>
      <xs:element name="errorClass" type="xs:unsignedByte" />
      <xs:element name="lineNumber" type="xs:int" />
      <xs:element name="message" nillable="true" type="xs:string" />
      <xs:element name="number" type="xs:int" />
      <xs:element name="procedure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      <xs:element name="source" nillable="true" type="xs:string" />
      <xs:element name="state" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="win32ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlError" nillable="true" type="tns:SqlError" />
</xs:schema>