Cfb/CandidatePortal/ServiceModel/CPSecurityClient/Service References/SecurityService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISecurityService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Cfb.CandidatePortal.Security" />
      <xsd:import namespace="http://caccess.nyccfb.info/schema/data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Cfb.Cfis.CampaignContacts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurityService_GetUserRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRights" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetUserRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRightsResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_HasUserRights_InputMessage">
    <wsdl:part name="parameters" element="tns:HasUserRights" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_HasUserRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasUserRightsResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetCid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCid" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetCid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCidResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetDisplayName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDisplayName" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetDisplayName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDisplayNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetDisplayName_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://caccess.nyccfb.info/schema/data" name="detail" element="q1:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmail" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetEmail_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://caccess.nyccfb.info/schema/data" name="detail" element="q2:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetAuthorizedElectionCycles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizedElectionCycles" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetAuthorizedElectionCycles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizedElectionCyclesResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetAuthorizedElectionCycles_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://caccess.nyccfb.info/schema/data" name="detail" element="q3:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetCampaignUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCampaignUsers" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetCampaignUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCampaignUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetCampaignUsers_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://caccess.nyccfb.info/schema/data" name="detail" element="q4:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetUser_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://caccess.nyccfb.info/schema/data" name="detail" element="q5:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_FindUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsers" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_FindUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_FindUsers_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://caccess.nyccfb.info/schema/data" name="detail" element="q6:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_CreateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateToken" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_CreateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ValidateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateToken" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ValidateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplication" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroup" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetGroupMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupMembers" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetGroupMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupMembersResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_DeleteGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_DeleteGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_UpdateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroup" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_UpdateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_UpdateUser_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://caccess.nyccfb.info/schema/data" name="detail" element="q7:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SynchronizeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SynchronizeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SynchronizeUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SynchronizeUser_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://caccess.nyccfb.info/schema/data" name="detail" element="q8:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_AddUserToGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToGroups" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_AddUserToGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_RemoveUserFromGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromGroups" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_RemoveUserFromGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetGroupMembership_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupMembership" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetGroupMembership_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ResetPassword_OfflineDataExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://caccess.nyccfb.info/schema/data" name="detail" element="q9:OfflineDataException" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GenerateUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateUserName" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GenerateUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateUserNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurityService">
    <wsdl:operation name="GetUserRights">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetUserRights" message="tns:ISecurityService_GetUserRights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetUserRightsResponse" message="tns:ISecurityService_GetUserRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasUserRights">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/HasUserRights" message="tns:ISecurityService_HasUserRights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/HasUserRightsResponse" message="tns:ISecurityService_HasUserRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCid">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetCid" message="tns:ISecurityService_GetCid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetCidResponse" message="tns:ISecurityService_GetCid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDisplayName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetDisplayName" message="tns:ISecurityService_GetDisplayName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetDisplayNameResponse" message="tns:ISecurityService_GetDisplayName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/GetDisplayNameOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_GetDisplayName_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetEmail" message="tns:ISecurityService_GetEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetEmailResponse" message="tns:ISecurityService_GetEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/GetEmailOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_GetEmail_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedElectionCycles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetAuthorizedElectionCycles" message="tns:ISecurityService_GetAuthorizedElectionCycles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetAuthorizedElectionCyclesResponse" message="tns:ISecurityService_GetAuthorizedElectionCycles_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/GetAuthorizedElectionCyclesOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_GetAuthorizedElectionCycles_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCampaignUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetCampaignUsers" message="tns:ISecurityService_GetCampaignUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetCampaignUsersResponse" message="tns:ISecurityService_GetCampaignUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/GetCampaignUsersOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_GetCampaignUsers_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetUser" message="tns:ISecurityService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetUserResponse" message="tns:ISecurityService_GetUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/GetUserOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_GetUser_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/FindUsers" message="tns:ISecurityService_FindUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/FindUsersResponse" message="tns:ISecurityService_FindUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/FindUsersOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_FindUsers_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/CreateToken" message="tns:ISecurityService_CreateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/CreateTokenResponse" message="tns:ISecurityService_CreateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ValidateToken" message="tns:ISecurityService_ValidateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ValidateTokenResponse" message="tns:ISecurityService_ValidateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetApplication" message="tns:ISecurityService_GetApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetApplicationResponse" message="tns:ISecurityService_GetApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetGroups" message="tns:ISecurityService_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetGroupsResponse" message="tns:ISecurityService_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetGroup" message="tns:ISecurityService_GetGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetGroupResponse" message="tns:ISecurityService_GetGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetGroupMembers" message="tns:ISecurityService_GetGroupMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetGroupMembersResponse" message="tns:ISecurityService_GetGroupMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/CreateGroup" message="tns:ISecurityService_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/CreateGroupResponse" message="tns:ISecurityService_CreateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/DeleteGroup" message="tns:ISecurityService_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/DeleteGroupResponse" message="tns:ISecurityService_DeleteGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/UpdateGroup" message="tns:ISecurityService_UpdateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/UpdateGroupResponse" message="tns:ISecurityService_UpdateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/CreateUser" message="tns:ISecurityService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/CreateUserResponse" message="tns:ISecurityService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/DeleteUser" message="tns:ISecurityService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/DeleteUserResponse" message="tns:ISecurityService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/UpdateUser" message="tns:ISecurityService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/UpdateUserResponse" message="tns:ISecurityService_UpdateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/UpdateUserOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_UpdateUser_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/SynchronizeUser" message="tns:ISecurityService_SynchronizeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/SynchronizeUserResponse" message="tns:ISecurityService_SynchronizeUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/SynchronizeUserOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_SynchronizeUser_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/AddUserToGroups" message="tns:ISecurityService_AddUserToGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/AddUserToGroupsResponse" message="tns:ISecurityService_AddUserToGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/RemoveUserFromGroups" message="tns:ISecurityService_RemoveUserFromGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/RemoveUserFromGroupsResponse" message="tns:ISecurityService_RemoveUserFromGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupMembership">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetGroupMembership" message="tns:ISecurityService_GetGroupMembership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetGroupMembershipResponse" message="tns:ISecurityService_GetGroupMembership_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ResetPassword" message="tns:ISecurityService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ResetPasswordResponse" message="tns:ISecurityService_ResetPassword_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISecurityService/ResetPasswordOfflineDataExceptionFault" name="OfflineDataExceptionFault" message="tns:ISecurityService_ResetPassword_OfflineDataExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ChangePassword" message="tns:ISecurityService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ChangePasswordResponse" message="tns:ISecurityService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GenerateUserName" message="tns:ISecurityService_GenerateUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GenerateUserNameResponse" message="tns:ISecurityService_GenerateUserName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISecurityService" type="tns:ISecurityService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISecurityService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUserRights">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetUserRights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUserRights">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/HasUserRights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCid">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetCid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisplayName">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetDisplayName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedElectionCycles">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetAuthorizedElectionCycles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCampaignUsers">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetCampaignUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindUsers">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/FindUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateToken">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/CreateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateToken">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/ValidateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplication">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupMembers">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetGroupMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/CreateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/DeleteGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/UpdateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeUser">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/SynchronizeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroups">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/AddUserToGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroups">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/RemoveUserFromGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupMembership">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GetGroupMembership" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OfflineDataExceptionFault">
        <soap12:fault use="literal" name="OfflineDataExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateUserName">
      <soap12:operation soapAction="http://tempuri.org/ISecurityService/GenerateUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="NetTcpBinding_ISecurityService" binding="tns:NetTcpBinding_ISecurityService">
      <soap12:address location="net.tcp://localhost:8008/CAccess/SecurityService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8008/CAccess/SecurityService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>